.profile-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 1200px) {
    .profile-img {
        width: 400px;
        height: 400px;
    }
}
